# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/
﻿tests/.idea

# Temp (Delete before merge)
.vscode/
input.asm
output.cl
run.sh